* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  max-width: 1154px;
  margin: 0 auto 0;
}
.menu{
  display: flex;
  padding: 27px 60px;

  justify-content: flex-end;}

.DesktopView {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  padding: 27px 60px;
}
.mobileView{
  display: none;
}
.DesktopView a{
  list-style-type: none;
}
.DesktopView a {
  text-decoration: none;
  color: black;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;

  color: #000000;
}

.heroSection {
  display: flex;
  justify-content: space-around;
  /* padding: 0 148px; */
  max-width: 1440px;
  flex-wrap: wrap-reverse;
  padding: 140px 148px 71px 148px;
  margin: 0 auto;
}
.col-1 {
  max-width: 506px;
}
.heroHeading h2 {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  color: #21243d;
  margin-bottom: 40px;
}
.heroText p {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #21243d;
  margin-bottom: 30px;
}
.heroBtn button {
  padding: 9px 20px;
  border: none;
  background: #ff6464;
  border-radius: 2px;
  color: white;
}

.recentpostWrapper{
  background-color: #EDF7FA;
}
.recentpost{
  max-width: 1440px;
  margin: 0 auto;
  padding: 27px 148px 39px 148px;
}
.recentTop{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.recentHeading{
  color: var(--dark-color, #21243D);
font-size: 26px;
font-family: Heebo;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: 24px 21px 17px 23px;
}

.box{
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  gap: 15px;
}
.RecentBox{
  background-color: #ffff;
 
}

.date{
  display: flex;
  margin: 0px 21px 11px 23px;
  
}
.date h4{
  color: var(--dark-color, #21243D);
font-size: 18px;
font-family: Heebo;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.recentDesc{
  color: var(--dark-color, #21243D);
font-size: 16px;
font-family: Heebo;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0px 27px 7px 23px;
}
.featureHead{
  padding: 15px 148px 22px 148px;
  text-transform: capitalize;
}
.featureHead h4{
  color: var(--dark-color, #21243D);
font-size: 22px;
font-family: Heebo;
font-style: normal;
font-weight: 400;
line-height: 60px;
}
.featuredWork{
  max-width: 1440px;
  margin: 0 auto;
}
.featuredContent{
  display: flex;
  gap: 30px;
  
  padding: 0px 148px 46px 148px;
}
.rightYear{
  display: flex;
  gap: 36px;
  margin-bottom: 17px;
}
.right h2{
  color: var(--dark-color, #21243D);
font-size: 30px;
font-family: Heebo;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 16px;
}
.rightYear .date{
  color: var(--light, #8695A4);
font-size: 20px;
font-family: Heebo;
font-style: normal;
font-weight: 400;
line-height: normal;

}
.rightDesc{
  color: var(--dark-color, #21243D);
font-size: 16px;
font-family: Heebo;
font-style: normal;
font-weight: 400;
line-height: normal;
line-height: 1rem;

}
.divder{
  margin-left: 146px;
  margin-right: 146px;
  margin-bottom: 80px;
}
.socailLink{
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.footer-disclaimer{
  margin-top: 40px;
  text-align: center;
}

@media (max-width: 940px){
  .mobileView {
    display: block;
    text-align: center;

  }
  .DesktopView {
    display: none;
  }
  .heroSection{
    padding: 20px 100px 83px 100px;
  }
  .menu{
    padding: 10px 10px;
  }

  .box{
    display: flex;
    flex-direction: column;
  }
  .featuredContent {
    display: flex;
    flex-direction: column;
    padding: 2px 18px 10px 18px;
    gap: 10px;
  }
  .recentpost{
    padding: 2px 10px 10px 10px;
  }
  .featureHead{
    padding: 0px;
    text-align: center;
  }
  .featuredContent .Left{
    text-align: center;
  }
  .rightYear{
    display: flex;
    gap: 10px;
  }
  .right{
    padding: 2px 0px 10px 18px;
  }

}